{% extends 'base.html.twig' %}

{% block title %}inscription{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}
    
    <div class="mb-3">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(registrationForm.email) }}
    </div>
    
    <div class="mb-3">
    {{ form_label(registrationForm.plainPassword, 'Password') }}
    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(registrationForm.plainPassword) }}
    </div>


    <div class="mb-3 form-check">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
        {{ form_label(registrationForm.agreeTerms, 'Agree to terms', {'label_attr': {'class': 'form-check-label'}}) }}
        {{ form_errors(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}

