
{# templates/jeu/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau jeu{% endblock %}

{% block body %}
<div class="container mt-3">
    <h2>Ajouter un nouveau jeu</h2>
    
    {{ form_start(form) }}
    
    <div class="mb-3">
        {{ form_label(form.titre) }}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.titre) }}
    </div>
    
    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.prix) }}
        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.prix) }}
    </div>

    <div class="mb-3">
        {% if form.imageFile %}
        <img src="{{ asset('uploads/' ~ form.vars.value.imageFile) }}" alt="Image"/>
        {% endif %}
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.imageFile) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.plateforme) }}
        {{ form_errors(form.plateforme) }}
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>

    {{ form_end(form) }}
</div>
{% endblock %}


