<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sc Jeux{% endblock %}</title>
    {% block stylesheets %}
        <!-- Ajout du CSS de Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
    {% block header %}
        
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">Mon Site de Jeux</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('jeu_new') }}">Ajouter un jeu</a>
                    </li>
                <!-- Ajoutez d'autres liens ici selon les besoins de votre application -->
                    <li class="nav-item">
                       <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}

    {% block javascripts %}
        <!-- Ajout du JavaScript de Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
</body>
</html>

